:root {
  --color-white: #fdfffe;
  --color-gray-0: #f3f1f4;
  --color-gray-1: #ccc;
  --color-gray-2: #aaa;
  --color-black: #070906;
  --color-neon: #68EACC;
  --color-blue: #497BEB;
  --color-purple: #8d4ae6;
  --color-red: #e64d3c;

  --border-radius: 2px;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, var(--color-neon) 0%, var(--color-blue) 100%);
  font-family: '-apple-system', sans-serif;
  font-size: 16px;
}

input:focus {
  outline: none;
}

button {
  all: unset;
  cursor: pointer;
  border-radius: var(--border-radius);
}
button:hover,
button:focus-visible {
  filter: brightness(110%);
}
button:active {
  filter: brightness(90%);
}

.todo-app {
  width: 350px;
  max-width: 100%;
  padding: 10px;
  background: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: 
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.todo-app h1 {
  font-weight: 700;
  font-size: 26px;
  color: var(--color-black);
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

.todo-app input {
  box-sizing: border-box;
  background: var(--color-white);
  border: 1.5px solid var(--color-gray-1);
  padding: 10.75px 11px;
  width: 256px;
  height: 40px;
  align-items: flex-start;
  margin-bottom: 20px;
  color: var(--color-gray-0);
  margin-left: 10px;
}

.todo-app input::placeholder {
  opacity: 0.5;
  font-weight: 500;
}

.todo-app ul {
  margin-right: 10px;
}

.todo-app li {
  background: var(--color-gray-0);
  padding: 12px 40px 12px 0px;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: 10px;
  font-weight: 500;
}

.todo-app footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
}

.clear-all{
  flex-direction: row;
  background: var(--color-purple);
  border-radius: 2px;
  padding: 8px;
  letter-spacing: 0.5px;
  color: var(--color-white);
}

.plus-box {
  background: var(--color-purple);
  border-radius: 2px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 40px;
  color: var(--color-white);
}

.scroll-bar::-webkit-scrollbar {
  width: 5.5px;
  margin-right: 10px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  height: 30%;
  background: var(--color-gray-1);
  border-radius: 10px;
}